<section class="postSection">
    <div class="postWrapper">
        <h1>
            {{post?.content}}
        </h1>

        <p>
            {{post?.content}}
        </p>

        <div class="buttonsWrapper" *ngIf="!userId || post?.authorId !== userId">
            <button>Like</button>
            <button>Dislike</button>
        </div>
        
        <div class="buttonsWrapper" *ngIf="userId && post?.authorId === userId">
            <button (click)="handleUpdate(post._id)">Update</button>
            <button (click)="handleDelete(post._id)">Delete</button>
        </div>
    </div>

    <button>Comment</button>
</section>